html, body {
    min-height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient( 0deg, #75d777, #aaeb8c, #f6ffae,#d0efd1, #b4d9eb );
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    margin: 0px 10% 0px 10%;
}

p {
    text-align: justify;
}

#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.curiosidade {
    border: 1px solid #f6b228;
    background-image: url(imgs/favo-de-mel.png);
    border-radius: 5px;
    padding: 10px 20px 15px 20px;
}

p.curiosidade > img {
    margin-right: 20px;
    float: left;
}

#cancela-flutuacao{
    clear: left;
}

.casta-de-abelha {
    border-radius: 50%;
    border: 5px double #f6b228;
}

.esquerda {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    shape-outside: circle(50%);
}

.direita {
    float: right;
    margin-left: 20px;
    shape-outside: circle(50%);
}

#bloco-logo {
    box-shadow: 4px 4px 4px #0003;
    background-color: #ffffff30;
    padding: 30px;
}

a:link {
    color: #00463f;
    text-decoration: none;
}

a:visited {
    color: #1c9c82;
    
}

a:hover {
    color: #7f5634;
}

a:active {
    color: #75ba0a;
}

a[href^="http"] {
    background-color: rgba(202, 205, 50, 0.637);
}

p:last-of-type {
    text-align: right;
}

img:not(img[alt]) {
    border: 5px solid red;
}